*{
box-sizing:border-box;
}

body{
margin:0;
}

.fix{
clear:both;
overflow:hidden;
}

.section-padding{
padding: 50px 0;
}

.wrapper{
width:1170px;
margin: 0 auto;
}

header{
overflow:hidden;
height:100vh;
}

.vid-bg{
position:absolute;
right:0;
bottom:0;
min-width:100%;
min-height:100%;
}

.nav-area{
background:rgba(0,0,0,0.6);
height:60px;
position:absolute;
width:100%;
}

.logo{margin:10px 50px;
height:60px;
float:left;
color:#fff;
font-size:35px;
text-transform:uppercase;
}

.menu-area{
float:right;
list-style:none;
margin:20px;
}

.menu-area li{
display:inline-block;
margin: 0 5px;
}

.menu-area li a{
text-decoration: none;
color: #fff;
padding: 5px 10px;
letter-spacing: 2px;
}

.menu-area li.active a{
color:#228B22 ;
}

.menu-area li a:hover{
color:#228B22;
}

.welcome-text{
position:absolute;
top:350%;
text-align:center;
left:30%;
}

.welcome-text h2{
color:#F2F2F2;
font-size:60px;
margin:0;
}

.welcome-text p{
color:#D3D3D3;
font-size:30px;
}

.btn{
background:#D3D3D3;
border:none;
color:#228B22;
padding:10px 30px;
font-size:15px;
text-transform:uppercase;
border-radius:25px;
display:inline-block;
margin-top:25px;
}

.section-header{
text-align:center;
margin-bottom: 30px;
}

.section-header h2{
text-transform:uppercase;
font-size:35px;
margin-bottom:0;
}

.line{
height:2px;
width:100px;
background:#000;
display:inline-block;
}

.section-header p{
font-size:18px;
text-transform:uppercase;
font-weight:bold;
}

.about-left{
width:60%;
float:left;
}

.about-left img{
width=100%;
}

.about-right{
float:right;
width:40%;
padding:30px;
}

.flora{
width:31%;
float:left;
margin:0 13px;
}

.flora-left{
width:60%;
float:left;
}

.flora-left img{
width=100%;
}

.flora-right{
float:right;
width:40%;
padding:30px;
}

.flora-section{
background:#eee;
}

.fauna-section{
background:#a9a9a9;
}

.contact-section{
background:#fff;
}

.btn{
background:#000;
float: right;
border:none;
color:#fff;
padding:10px 30px;
font-size:50px;
text-transform:uppercase;
text-decoration: none;
border-radius:25px;
display:inline-block;
}

footer{
background:#000;
}

